@using projetoWhois.Models

@model List<WhoisInfo>

<h2>Histórico das consultas</h2>
@{foreach (var item in Model)
    {
        <div class="row dados-whois col-md-8">
            <h1 id="indisponivel"><strong>Domínio inválido!</strong></h1>
            <h2><strong>@item.Dominio</strong></h2>
            <p><strong>Data de registro de domínio: </strong>@item.DataRegistro</p>
            <p><strong>Data da última alteração: </strong>@item.DataAlteracao</p>
            <p><strong>Data de expiração do domínio: </strong>@item.DataExpiracao</p>
        </div>
    }
}